<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.handysolver.owner.imagecompression">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.handysolver.owner.imagecompression.ui.MainActivity"
            android:configChanges="mcc|mnc|locale|keyboard|keyboardHidden|screenLayout|uiMode|orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/ThemeOverlay.MyNoTitleActivity" >
        </activity>
    </application>

</manifest>
